
/*nav part */
nav.navbar{
    text-align: center;
    color: antiquewhite;
    background: blueviolet;
    margin-right:auto;
    height: 150px;
}

p.center {
    color: white;
    font: 15px;
    padding: 15px;
}

.image {
    width: 120px;
    height: 100x;
    float: left;
}
/*section1 */
.paragraph {
    text-align: center;
    color: black;
    font-size: 20px;
    border-radius:15px;
    margin-right: auto;
    
}
.paragraph2 {
 margin-left: auto;
 
}

.footer {
    display:flex ;
    background-color: brown;
}

.footer p {
    margin-left: 20px;
}